.notes-list{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
.notes-list_items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.notes-list_items:has(h2){
    justify-content: center;
}

.notes-list_items h2{
    display: flex;
    flex-direction: row;
    
    justify-self: center;
    color: rgb(184, 184, 184);
}